<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ServletInitParam</servlet-name>
        <servlet-class>com.hadeslee.ex.ServletInitParam</servlet-class>

        <init-param>
            <param-name>id</param-name>
            <param-value>abcdef</param-value>
        </init-param>
        <init-param>
            <param-name>pw</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>C:\\Users\\sklee\\IdeaProjects</param-value>
        </init-param>

    </servlet>

    <servlet>
        <servlet-name>InitParam</servlet-name>
        <servlet-class>com.hadeslee.ex.InitParam</servlet-class>

        <init-param>
            <param-name>id</param-name>
            <param-value>abcdef</param-value>
        </init-param>
        <init-param>
            <param-name>pw</param-name>
            <param-value>1234</param-value>
        </init-param>
        <init-param>
            <param-name>path</param-name>
            <param-value>C:\\Users\\sklee\\IdeaProjects</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>ServletInitParam</servlet-name>
        <url-pattern>/InitParam</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InitParam</servlet-name>
        <url-pattern>/IP</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>id</param-name>
        <param-value>abcdef</param-value>
    </context-param>
    <context-param>
        <param-name>pw</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>path</param-name>
        <param-value>C:\\Users\\sklee\\IdeaProjects</param-value>
    </context-param>
    
    <listener>
        <listener-class>com.hadeslee.ex.ContextListenerEx</listener-class>
    </listener>

    <error-page>
        <error-code>404</error-code>
        <location>/ex15/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ex15/error500.jsp</location>
    </error-page>

</web-app>